@CHARSET "ISO-8859-1";

body {
	background-color: silver;
}

.header {
	text-align: center;
}

.allJsons {
	display: none;
}

.field {
	display: table;
	margin: auto;
	border-style: solid;
	font-family: "Courier New";
	text-align: center;
	white-space: pre;
}

.credits {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 99%;
	height:20px;
	font-size: 14px;
	font-family: Arial;
}